.bg-primary {
  background-color: #4953cf !important;
}
.primary {
  color: #4953cf !important ;
}
.icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #4953cf !important;
  background-color: white;
  border-radius: 0.25rem;
  gap: 10px;
}

.icons:hover{
  background-color:rgba(232, 232, 232, 0.728)!important;
}
/* Header */

.secondary-bg {
  background-color: #ffffff;
  /* box-shadow: #000000; */
  box-sizing: border-box !important;
}
.single-chat {
  height: 20rem;
}
.chat-section {
  height: 91vh !important;
  /* border: 1px solid black; */
}
.chat-body {
  height: 22rem;
}

@media screen and (max-width: 575.98px) {
  /* .chat-section {
		height: 99vh !important;
		border: 1px solid black;
	} */
  /* CSS rules for screens less than 576 pixels wide */
}
