.bg-primary {
	background-color: #4953cf !important;
}
.primary {
	color: #4953cf !important ;
}
.icons {
	/* border: 1px solid black; */
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #4953cf !important;
	background-color: white;
	border-radius: 0.25rem;
}
.icons:focus {
	background-color: rgb(226, 226, 214);
}
/* Header */

.secondary-bg {
	background-color: #ffffff;
	/* box-shadow: #000000; */
	box-sizing: border-box !important;
}
/* .single-chat {
	height: 90% !important;
	overflow: auto;
} */
.chat-body {
	height: 25.75rem;
}
